<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ilinkcare.mapper.MemberMapper">

    <!--    고객 계정생성-->
    <insert id="insertMember" parameterType="com.example.ilinkcare.domain.Member">
        INSERT INTO member ( user_id
                            ,user_name
                            ,password
                            ,birth
                            ,email
                            ,address1
                            ,address2
                            ,zip_cd
                            ,phone_num
                            ,gender
                            ,created_dt
                            ,created_by
                            ,update_dt
                            ,update_by
        ) VALUES (
                             #{user_id}
                            ,#{user_name}
                            ,#{password}
                            ,#{birth}
                            ,#{email}
                            ,#{address1}
                            ,#{address2}
                            ,#{zip_cd}
                            ,#{phone_num}
                            ,#{gender}
                            ,#{created_dt}
                            ,#{created_by}
                            ,#{update_dt}
                            ,#{update_by}
                )
    </insert>

    <select id="dupUserId" parameterType="com.example.ilinkcare.domain.Member" resultType="int">
        select *
        from member
        where user_id = #{user_id}
        limit 1
    </select>


    <update id="updateMember" parameterType="com.example.ilinkcare.domain.Member">
         UPDATE member
                    SET
                       user_name = #{user_name}
                     ,password = #{password}
                     ,birth = #{birth}
                     ,email = #{email}
                     ,address1 = #{address1}
                     ,address2 = #{address2}
                     ,zip_cd = #{zip_cd}
                     ,phone_num = #{phone_num}
                     ,gender = #{gender}
                     ,created_dt = #{created_dt}
                     ,created_by = #{created_by}
                     ,update_dt = #{update_dt}
                     ,update_by = #{update_by}
                    WHERE user_id  = #{user_id}
    </update>

</mapper>