<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ilinkcare.mapper.OrderMapper">

    <!--    교육신청 찾기-->
    <update id="insertOrder" parameterType="com.example.ilinkcare.domain.Order">
        INSERT INTO orders (
                            user_no
                          , to_name
                          , to_addr
                          , to_tel
                          , care_time
                          , child_no
                          , teacher_no
                          , start_time
                          , end_time
                          , status
                          , contract
                          , contract_time
                          , created_dt
                          , created_by
                          , update_dt
                          , update_by
                          , contents
                          , name
        ) values (
                            #{user_no}
                          , #{to_name}
                          , #{to_addr}
                          , #{to_tel}
                          , #{care_time}
                          , #{child_no}
                          , #{teacher_no}
                          , #{start_time}
                          , #{end_time}
                          , #{status}
                          , #{contract}
                          , #{contract_time}
                          , #{created_dt}
                          , #{created_by}
                          , #{update_dt}
                          , #{update_by}
                          , #{contents}
                          , #{name}
        )
    </update>

    <!-- 교육신청 찾기-->
    <select id="selectOrder" parameterType="int" resultType="com.example.ilinkcare.domain.Order">
        SELECT o.order_no ,t.comments ,c.name ,t.name AS t_name ,o.start_time ,o.end_time  from orders o
        INNER JOIN teacher AS t on o.teacher_no = t.teacher_no
        LEFT JOIN child AS c on o.user_no = c.user_no
        WHERE o.order_no = #{order_no}
    </select>

    <!--    교육신청 리스트-->
    <select id="findAllOrder" parameterType="java.util.Map" resultType="com.example.ilinkcare.domain.Order">
        SELECT o.order_no ,t.comments ,c.name ,t.name AS t_name ,o.start_time ,o.end_time  from orders o
        INNER JOIN teacher AS t on o.teacher_no = t.teacher_no
        LEFT JOIN child AS c on o.user_no = c.user_no
        WHERE o.user_no = #{userNo}
        order by order_no desc
        limit 1
    </select>

    <select id="getReviewList" parameterType="java.util.Map" resultType="com.example.ilinkcare.domain.Review">
        SELECT
              c.comment_no
            , o.order_no
            , t.comments
            , c.content
            , t.name as t_name
            , date_format(c.created_dt, '%Y-%m-%d %H:%i') as create_dt
        FROM
            ilinkcare.orders o
        INNER JOIN
            ilinkcare.teacher t ON t.teacher_no = o.teacher_no
        LEFT JOIN
            ilinkcare.comment c ON c.order_no = o.order_no
        WHERE
            o.user_no = #{userNo}
    </select>

    <select id="getReviewDetail" parameterType="java.util.Map" resultType="com.example.ilinkcare.domain.Teacher">
        SELECT
            o.order_no
          , t.name
          , t.comments
          , t.address1
          , t.filepath
          , t.filename
          , t.teacher_no
        FROM
            ilinkcare.orders o
        INNER JOIN
            ilinkcare.teacher t
            ON
                t.teacher_no = o.teacher_no
        WHERE
            o.order_no = #{orderNo}
    </select>

    <select id="selectReviewCount" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM
            ilinkcare.comment
        WHERE
            order_no = #{orderNo}
        AND
            teacher_no = #{teacherNo}
        AND
            user_no = #{userNo}
    </select>

    <update id="registReview" parameterType="java.util.Map" >
        INSERT INTO ilinkcare.comment ( user_no
                                      , teacher_no
                                      , order_no
                                      , content
                                      , created_dt
                                      , created_by
        ) VALUES (
                                        #{userNo}
                                      , #{teacherNo}
                                      , #{orderNo}
                                      , #{reviewContents}
                                      , now()
                                      , #{userNo}
        )
    </update>
</mapper>