<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ilinkcare.mapper.TeacherMapper">

<!--    교사 계정생성-->
    <insert id="insertTeacher" parameterType="com.example.ilinkcare.domain.Teacher">
        INSERT INTO teacher (
          teacher_id
        , name
        , password
        , birth
        , email
        , address1
        , address2
        ,zip_cd
        ,phone_num
        ,gender
        ,comments
        ,created_dt
        ,created_by
        ,update_dt
        ,update_by
        ,status
        ,posting_yn
        ,review_yn
        ,filename
        ,filepath
        ) VALUES (
          #{teacher_id}
        , #{name}
        , #{password}
        , #{birth}
        , #{created_by}
        , #{email}
        , #{address1}
        , #{address2}
        , #{zip_cd}
        , #{gender}
        , #{comments}
        , #{created_dt}
        , #{created_by}
        , #{update_dt}
        , #{update_by}
        , #{status}
        , #{posting_yn}
        , #{review_yn}
        , #{filename}
        , #{filepath}
        )
    </insert>
<!--    교사리스트 보기-->
    <select id="findAllTeacher" resultType="Teacher">
        SELECT *
        FROM teacher
        limit #{limitStart}, #{limitEnd}

    </select>

    <select id="findAllTeacherCount" resultType="int">
        SELECT COUNT(*)
        FROM teacher
    </select>

<!--    지역검색기능-->
<!--    <select id="findAllTeachers" resultType="Teacher">-->
<!--        SELECT *-->
<!--        FROM teacher-->
<!--        WHERE address1 LIKE '%' || #{} || '%'&ndash;&gt;-->
<!--        limit #{limitStart}, #{limitEnd}-->

<!--    </select>-->




    <!-- 교사 찾기-->
    <select id="selectTeacher" parameterType="int" resultType="Teacher">
        SELECT *
        FROM teacher
        WHERE teacher_no = #{teacher_no}
    </select>

<!--    교사 리뷰보기-->
    <select id="selectReview" parameterType="int" resultType="CommentDto">
        SELECT co.comment_no, content, u.user_name, co.created_dt
        FROM comment AS co
        INNER JOIN member AS u on co.user_no = u.user_no
        WHERE teacher_no = #{teacher_no}
    </select>

<!--관심교사 등록-->
    <select id="insertWishlist" parameterType="com.example.ilinkcare.domain.Wishlist">
        INSERT INTO wishlist(
        teacher_no,
        user_no,
        created_dt
        ) VALUES (
        #{teacher_no},
        #{user_no},
        #{created_dt}
        )
    </select>

    <update id="registWishList" parameterType="java.util.Map">
        INSERT INTO ilinkcare.wishlist ( teacher_no
                                       , user_no
                                       , created_dt
        ) values (
                                         #{teacherNo}
                                       , #{userNo}
                                       , now()
        )
    </update>

    <select id="selectWishListTeacherCnt" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM
            ilinkcare.wishlist
        WHERE 1 = 1
        AND
            teacher_no = #{teacherNo}
        AND
            user_no = #{userNo}
    </select>

    <select id="selectWishListTeacherAllCnt" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM
            ilinkcare.wishlist
        WHERE 1 = 1
        AND
            user_no = #{userNo}
    </select>

    <select id="selectWishList" parameterType="java.util.Map" resultType="com.example.ilinkcare.domain.Teacher">
        SELECT
            t.name
          , t.comments
          , t.address1
          , t.filepath
          , t.filename
        FROM
            ilinkcare.wishlist w
        INNER JOIN
            ilinkcare.teacher AS t
            ON
                w.teacher_no = t.teacher_no
        WHERE
            w.user_no = #{userNo}
    </select>

</mapper>