@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    focus-ring-color: transparent;
    resize: none;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

details {
    display: block
}

[hidden] {
    display: none
}

a {
    background: 0 0;
    text-decoration: none;
    color: #353535
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none
}

b {
    font-weight: 700
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
select {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: 0 0;
    padding: 0;
    margin: 0
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

i {
    font-style: normal
}

li,
ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none
}

a,
body,
code,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
label,
li,
span,
sub,
table,
tbody,
td,
th,
tr,
ul {
    font-family: '맑은고딕', 'Malgun Gothic', sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1px;
    word-break: break-all
}

body {
    position: relative;
    min-width: 1140px;
    font-size: 14px;
    color: #353535
}

a,
button {
    cursor: pointer
}

.w-0 {
    width: 0 !important
}

.w-10 {
    width: 10px !important
}

.w-20 {
    width: 20px !important
}

.w-30 {
    width: 30px !important
}

.w-40 {
    width: 40px !important
}

.w-50 {
    width: 50px !important
}

.w-60 {
    width: 60px !important
}

.w-70 {
    width: 70px !important
}

.w-80 {
    width: 80px !important
}

.w-90 {
    width: 90px !important
}

.w-100 {
    width: 100px !important
}

.w-110 {
    width: 110px !important
}

.w-120 {
    width: 120px !important
}

.w-130 {
    width: 130px !important
}

.w-140 {
    width: 140px !important
}

.w-150 {
    width: 150px !important
}

.w-160 {
    width: 160px !important
}

.w-170 {
    width: 170px !important
}

.w-180 {
    width: 180px !important
}

.w-190 {
    width: 190px !important
}

.w-200 {
    width: 200px !important
}

.w-210 {
    width: 210px !important
}

.w-220 {
    width: 220px !important
}

.w-230 {
    width: 230px !important
}

.w-240 {
    width: 240px !important
}

.w-250 {
    width: 250px !important
}

.w-260 {
    width: 260px !important
}

.w-270 {
    width: 270px !important
}

.w-280 {
    width: 280px !important
}

.w-290 {
    width: 290px !important
}

.w-300 {
    width: 300px !important
}

.w-310 {
    width: 310px !important
}

.w-320 {
    width: 320px !important
}

.w-330 {
    width: 330px !important
}

.w-340 {
    width: 340px !important
}

.w-350 {
    width: 350px !important
}

.w-360 {
    width: 360px !important
}

.w-370 {
    width: 370px !important
}

.w-380 {
    width: 380px !important
}

.w-390 {
    width: 390px !important
}

.w-400 {
    width: 400px !important
}

.w-410 {
    width: 410px !important
}

.w-420 {
    width: 420px !important
}

.w-430 {
    width: 430px !important
}

.w-440 {
    width: 440px !important
}

.w-450 {
    width: 450px !important
}

.w-460 {
    width: 460px !important
}

.w-470 {
    width: 470px !important
}

.w-480 {
    width: 480px !important
}

.w-490 {
    width: 490px !important
}

.w-500 {
    width: 500px !important
}

.h-0 {
    height: 0 !important
}

.h-10 {
    height: 10px !important
}

.h-20 {
    height: 20px !important
}

.h-30 {
    height: 30px !important
}

.h-40 {
    height: 40px !important
}

.h-50 {
    height: 50px !important
}

.h-60 {
    height: 60px !important
}

.h-70 {
    height: 70px !important
}

.h-80 {
    height: 80px !important
}

.h-90 {
    height: 90px !important
}

.h-100 {
    height: 100px !important
}

.h-110 {
    height: 110px !important
}

.h-120 {
    height: 120px !important
}

.h-130 {
    height: 130px !important
}

.h-140 {
    height: 140px !important
}

.h-150 {
    height: 150px !important
}

.h-160 {
    height: 160px !important
}

.h-170 {
    height: 170px !important
}

.h-180 {
    height: 180px !important
}

.h-190 {
    height: 190px !important
}

.h-200 {
    height: 200px !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-t-5 {
    margin-top: 5px !important
}

.m-t-10 {
    margin-top: 10px !important
}

.m-t-15 {
    margin-top: 15px !important
}

.m-t-20 {
    margin-top: 20px !important
}

.m-t-25 {
    margin-top: 25px !important
}

.m-t-30 {
    margin-top: 30px !important
}

.m-t-35 {
    margin-top: 35px !important
}

.m-t-40 {
    margin-top: 40px !important
}

.m-t-50 {
    margin-top: 50px !important
}

.m-t-55 {
    margin-top: 55px !important
}

.m-t-60 {
    margin-top: 60px !important
}

.m-t-65 {
    margin-top: 65px !important
}

.m-t-70 {
    margin-top: 70px !important
}

.m-t-75 {
    margin-top: 75px !important
}

.m-t-80 {
    margin-top: 80px !important
}

.m-t-85 {
    margin-top: 85px !important
}

.m-t-90 {
    margin-top: 90px !important
}

.m-t-95 {
    margin-top: 95px !important
}

.m-t-100 {
    margin-top: 100px !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px !important
}

.m-b-15 {
    margin-bottom: 15px !important
}

.m-b-20 {
    margin-bottom: 20px !important
}

.m-b-25 {
    margin-bottom: 25px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-35 {
    margin-bottom: 35px !important
}

.m-b-40 {
    margin-bottom: 40px !important
}

.m-b-50 {
    margin-bottom: 50px !important
}

.m-b-55 {
    margin-bottom: 55px !important
}

.m-b-60 {
    margin-bottom: 60px !important
}

.m-b-65 {
    margin-bottom: 65px !important
}

.m-b-70 {
    margin-bottom: 70px !important
}

.m-b-75 {
    margin-bottom: 75px !important
}

.m-b-80 {
    margin-bottom: 80px !important
}

.m-b-85 {
    margin-bottom: 85px !important
}

.m-b-90 {
    margin-bottom: 90px !important
}

.m-b-95 {
    margin-bottom: 95px !important
}

.m-b-100 {
    margin-bottom: 100px !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-r-5 {
    margin-right: 5px !important
}

.m-r-10 {
    margin-right: 10px !important
}

.m-r-15 {
    margin-right: 15px !important
}

.m-r-20 {
    margin-right: 20px !important
}

.m-r-25 {
    margin-right: 25px !important
}

.m-r-30 {
    margin-right: 30px !important
}

.m-r-35 {
    margin-right: 35px !important
}

.m-r-40 {
    margin-right: 40px !important
}

.m-r-50 {
    margin-right: 50px !important
}

.m-r-55 {
    margin-right: 55px !important
}

.m-r-60 {
    margin-right: 60px !important
}

.m-r-65 {
    margin-right: 65px !important
}

.m-r-70 {
    margin-right: 70px !important
}

.m-r-75 {
    margin-right: 75px !important
}

.m-r-80 {
    margin-right: 80px !important
}

.m-r-85 {
    margin-right: 85px !important
}

.m-r-90 {
    margin-right: 90px !important
}

.m-r-95 {
    margin-right: 95px !important
}

.m-r-100 {
    margin-right: 100px !important
}

.m-0 {
    margin: 0 !important
}

.m-5 {
    margin: 5px !important
}

.m-10 {
    margin: 10px !important
}

.m-15 {
    margin: 15px !important
}

.m-20 {
    margin: 20px !important
}

.m-25 {
    margin: 25px !important
}

.m-30 {
    margin: 30px !important
}

.m-35 {
    margin: 35px !important
}

.m-40 {
    margin: 40px !important
}

.m-50 {
    margin: 50px !important
}

.m-55 {
    margin: 55px !important
}

.m-60 {
    margin: 60px !important
}

.m-65 {
    margin: 65px !important
}

.m-70 {
    margin: 70px !important
}

.m-75 {
    margin: 75px !important
}

.m-80 {
    margin: 80px !important
}

.m-85 {
    margin: 85px !important
}

.m-90 {
    margin: 90px !important
}

.m-95 {
    margin: 95px !important
}

.m-100 {
    margin: 100px !important
}

@keyframes scrollMenu {
    0% {
        bottom: 5%
    }

    50% {
        bottom: 4%
    }

    100% {
        bottom: 5%
    }
}

@keyframes layerHorizontalOpen {
    0% {
        left: -100%
    }

    100% {
        left: 0
    }
}

@keyframes layerHorizontalClose {
    0% {
        left: 0
    }

    100% {
        left: -100%
    }
}

@keyframes layeyVerticalOpen {
    0% {
        top: 100%
    }

    100% {
        top: 0
    }
}

@keyframes layeyVerticalClose {
    0% {
        top: 0
    }

    100% {
        top: 100%
    }
}

@keyframes cat_walking {
    0% {
        background-position-y: 0
    }

    8.5% {
        background-position-y: -200px
    }

    17% {
        background-position-y: -400px
    }

    25.5% {
        background-position-y: -600px
    }

    34% {
        background-position-y: -800px
    }

    42.5% {
        background-position-y: -1000px
    }

    51% {
        background-position-y: -1200px
    }

    59.5% {
        background-position-y: -1400px
    }

    68% {
        background-position-y: -1600px
    }

    76.5% {
        background-position-y: -1800px
    }

    85% {
        background-position-y: -2000px
    }

    93.5% {
        background-position-y: -2200px
    }

    102% {
        background-position-y: -2400px
    }
}

.col2>* {
    width: 50%
}

.col3>* {
    width: 33.3333333333333333%
}

.col4>* {
    width: 25%
}

.col5>* {
    width: 20%
}

.col6>* {
    width: calc(100% / 6)
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt40 {
    margin-top: 40px !important
}

.mt50 {
    margin-top: 50px !important
}

.mt60 {
    margin-top: 60px !important
}

.mt65 {
    margin-top: 65px !important
}

.pd10 {
    padding: 10px !important
}

.pd20 {
    padding: 20px !important
}

.pd30 {
    padding: 30px !important
}

.w100 {
    width: 100% !important
}

.red {
    color: #f33f46 !important
}

.gray {
    color: #707070 !important
}

.black {
    color: #111 !important
}

[class*=it_] {
    position: relative;
    display: block
}

[class*=it_] input {
    width: 100%;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #d0d0d0;
    font-size: 14px;
    color: #353535;
    letter-spacing: -1px
}

.form_unit:first-child,
.form_unit:first-of-type {
    margin-left: 0
}

input[type=checkbox],
input[type=radio] {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0 none;
    margin: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

input[type=checkbox]+label,
input[type=radio]+label {
    display: inline-block;
    height: 18px;
    padding-left: 18px;
    vertical-align: top;
    cursor: pointer
}

input[type=checkbox]+label {
    background: url(../images/common/form_checkbox.png) no-repeat 0 0
}

input[type=radio]+label {
    background: url(../images/common/form_radio.png) no-repeat 0 0
}

input[type=checkbox]+label span,
input[type=radio]+label span {
    display: inline-block;
    line-height: 16px;
    margin-left: 8px;
    font-size: 14px;
    color: #707070;
    vertical-align: top;
    margin-right: 8px
}

@media screen and (min-width:0\0) {

    input[type=checkbox]+label span,
    input[type=radio]+label span {
        line-height: 18px
    }
}

input[type=checkbox][readonly]+label span {
    color: #959595
}

input[type=radio][readonly]+label {
    background: url(../images/common/form_radio_readonly.png) no-repeat 0 0;
    cursor: default
}

input[type=radio][readonly]+label span {
    color: #959595
}

.ps_designSelBox {
    position: relative;
    z-index: 0
}

.ps_designSelBox select {
    display: none
}

.ps_designSelBoxIn .ps_list {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.ps_designSelBoxIn {
    position: relative
}

.ps_designSelBoxIn button {
    background: 0 0;
    border: none;
    width: 100%;
    text-align: left;
    display: block;
    cursor: pointer
}

.disabled .ps_designSelBoxIn button {
    cursor: default
}

.ps_designSelBox .ps_designSelBoxIn {
    min-width: 90px
}

.ps_designSelBox .ps_currSel {
    position: relative;
    height: 34px;
    padding: 0 40px 0 10px;
    line-height: 34px;
    font-size: 13px;
    background: #fff url(../images/common/ico_select_arrw.png) right 9px center no-repeat;
    border: 1px solid #d0d0d0;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #707070
}

.ps_designSelBox .ps_list {
    margin-bottom: -1px;
    margin-top: -1px;
    border: 1px solid #d0d0d0
}

.ps_designSelBox .ps_list li {
    line-height: 30px;
    background: #fff
}

.ps_designSelBox .ps_list button {
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #707070
}

.ps_designSelBox .ps_list button:hover {
    color: #f33f46;
    background: #f3f6f9
}

.ps_designSelBox.disabled .ps_currSel {
    background-color: #efefef;
    color: #959595
}

.form_wrap {
    width: 100%
}

.form_box {
    margin: 0;
    padding: 0;
    border: 0
}

.form_box>ul,
ul.form_box {
    margin: -10px 0 0
}

.form_box>ul>li,
ul.form_box>li {
    margin: 0 -5px;
    padding-top: 10px
}

.form_box ul>li:after,
ul.form_box>li:after {
    content: "";
    display: table;
    clear: both
}

.form_box .ps_designSelBox ul.ps_list li {
    padding-top: 0
}

.form_box ul>li>*,
ul.form_box>li>* {
    float: left;
    width: 100%;
    padding: 0 5px
}

.form_box .btn_area [class*=btn_tx] {
    width: auto
}

.form_box .btn_arr_wrap {
    margin-top: 15px;
    text-align: right
}

.form_box .btn_arr_wrap [class*=btn_] {
    font-size: 12px;
    color: #707070
}

.form_box .btn_arr_wrap [class*=btn_] [class*=i_] {
    margin-left: 6px
}

.form_box .input_to_btn {
    display: table;
    width: 100%;
    padding: 0 !important
}

.form_box .input_to_btn .it_basic {
    display: table-cell;
    padding: 0 5px;
    vertical-align: middle
}

.form_box .input_to_btn .btn_area {
    display: table-cell;
    width: 90px;
    padding: 0 5px;
    vertical-align: middle;
    white-space: nowrap
}

.form_box .input_to_btn .btn_area [class*=btn_tx] {
    width: auto;
    min-width: 110px
}

.form_box .input_to_btn .btn_area.col [class*=btn_tx] {
    min-width: 90px
}

.form_box .input_to_btn .btn_area [class*=btn_tx].sm {
    min-width: 75px
}

.form_box .it_basic input:not([type=password])+.btn_pw_view {
    color: #959595
}

.form_box .input_to_birth {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0 !important
}

.form_box .input_to_birth .ps_designSelBox {
    display: table-cell;
    padding: 0 5px;
    vertical-align: middle
}

.form_box .input_to_birth .it_basic {
    display: table-cell;
    width: 38%;
    padding: 0 5px;
    vertical-align: middle
}

.form_box .radio_type_box {
    width: auto
}

.form_box .radio_type_box label {
    width: auto;
    min-width: 90px;
    height: 34px;
    padding: 0 10px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #d0d0d0;
    background: #fff
}

.form_box .radio_type_box label.lg {
    min-width: 124px
}

.form_box .radio_type_box :checked+label {
    background: #383e5c;
    border-color: #383e5c;
    color: #fff
}

.form_box .radio_type_box input:disabled+label {
    background: #efefef
}

.form_box .radio_type_box input:checked:disabled+label {
    background: #555
}

.form_box .it_basic ::-webkit-input-placeholder {
    color: #959595 !important
}

.form_box .it_basic :-moz-placeholder {
    color: #959595 !important
}

.form_box .it_basic ::-moz-placeholder {
    color: #959595 !important
}

.form_box .it_basic :-ms-input-placeholder {
    color: #959595 !important
}

.form_list_lg .it_basic>input,
.form_list_lg .ps_designSelBox .ps_currSel {
    height: 48px;
    line-height: 48px;
    font-size: 16px
}

.btn_area {
    font-size: 0;
    line-height: 0;
    text-align: center
}

.btn_area,
[class*=btn_step] {
    overflow: hidden
}

.btn_area a,
.btn_area button {
    display: inline-block;
    text-align: center;
    cursor: pointer
}

.btn_area a.disabled,
.btn_area button.disabled,
.btn_area button:disabled {
    cursor: default
}

.btn_area[class*=lv]>* {
    min-width: 120px;
    margin-left: 10px;
    padding: 0 20px
}

.btn_area[class*=lv4]>* {
    min-width: 60px;
    margin-left: 5px
}

button:active>* {
    -ms-transform: translate(0, -.5px)
}

.btn_area[class*=lv]>:first-child {
    margin-left: 0
}

[class*=btn_tx] {
    display: inline-block;
    height: 34px;
    line-height: 32px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top
}

.btn_tx_w {
    background: #fff;
    color: #383e6c;
    border-color: #383e6c
}

.btn_tx_b {
    background: #383e6c;
    color: #fff;
    border-color: #383e6c
}

.btn_tx_g {
    background: #fff;
    color: #707070;
    border-color: #d0d0d0
}

.btn_tx_r {
    background: #f33f46;
    color: #fff;
    border-color: #f33f46
}

.btn_area[class*=lv1] [class*=btn_tx] {
    height: 48px;
    line-height: 46px;
    font-size: 16px
}

.btn_area[class*=lv2] [class*=btn_tx] {
    height: 40px;
    line-height: 38px;
    font-size: 14px
}

.btn_area[class*=lv3] [class*=btn_tx] {
    height: 34px;
    line-height: 32px;
    font-size: 14px
}

.btn_area[class*=lv4] [class*=btn_tx] {
    height: 28px;
    line-height: 26px;
    font-size: 13px
}

@media screen and (min-width:0\0) {
    .btn_area[class*=lv1] [class*=btn_tx] {
        height: 48px;
        line-height: 46px;
        font-size: 16px
    }

    .btn_area[class*=lv2] [class*=btn_tx] {
        height: 40px;
        line-height: 38px;
        font-size: 14px
    }

    .btn_area[class*=lv3] [class*=btn_tx] {
        height: 34px;
        line-height: 32px;
        font-size: 14px
    }

    .btn_area[class*=lv4] [class*=btn_tx] {
        height: 28px;
        line-height: 26px;
        font-size: 13px
    }
}

.btn_area[class*=lv] [class*=btn_tx].ic_r {
    min-width: auto
}

.btn_area[class*=lv] [class*=btn_tx].ic_r {
    min-width: auto
}

.btn_area[class*=lv] [class*=btn_tx][class*=ic_] [class^=i_] {
    vertical-align: top
}

.btn_area[class*=lv] [class*=btn_tx].ic_r [class^=i_] {
    margin: 0 0 0 6px
}

.btn_area[class*=lv] [class*=btn_tx].sm {
    width: 34px;
    min-width: 34px;
    height: 34px;
    margin-left: 5px;
    padding: 0
}

.btn_area[class*=lv] [class*=btn_tx].sm:first-child {
    margin-left: 0
}

.btn_area[class*=lv] [class*=btn_tx].sm [class^=i_] {
    display: inline-block;
    height: inherit;
    margin-left: 0;
    margin-top: -1px
}

.btn_area.lv2 [class*=btn_tx].sm {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    line-height: 38px
}

.btn_area.lv2 [class*=btn_tx].sm:first-child {
    margin-left: 0
}

.btn_area[class*=spc] {
    overflow: hidden
}

.btn_area[class*=spc] [class^=btn_] {
    float: left;
    width: 50%;
    min-width: 0;
    margin: 0;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    letter-spacing: -1.5px
}

@media screen and (min-width:0\0) {
    .btn_area[class*=spc] [class^=btn_] {
        line-height: 38px
    }
}

.btn_area[class*=spc] [class^=btn_]:disabled {
    color: #959595;
    border-color: #d0d0d0;
    background: #d0d0d0;
    cursor: default
}

.btn_area[class*=spc] [class*=btn_tx].sm {
    width: 40px;
    min-width: auto;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 0
}

.btn_area[class*=spc] [class*=btn_tx].sm+[class*=btn_tx].sm {
    border-left: 1px solid #5c6179
}

.btn_area[class*=spc] [class*=btn_tx].sm [class^=i_] {
    margin: 0
}

.btn_area [class*=btn_tx_sns_] {
    color: #353535;
    border: 1px solid #d0d0d0
}

.btn_area [class*=btn_tx_sns_]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 19px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: middle
}

[class*=txt_link] {
    font-size: 14px;
    color: #353535;
    text-decoration: none
}

[class*=txt_link]:hover {
    color: #f33f46
}

[class*=tit_box] {
    position: relative;
    width: 100%;
    max-width: 1140px;
    min-width: 1140px
}

.cont_tit {
    margin-bottom: 20px;
    font-size: 26px;
    color: #111
}

.tit_box {
    margin: 0 auto 30px;
    padding-top: 50px
}

.tit_type_lg {
    font-size: 34px;
    color: #111;
    text-align: center;
    letter-spacing: -1px;
    line-height: 1
}

.tit_box .it_basic {
    width: 260px
}

.tit_type_sm {
    padding-bottom: 5px;
    font-size: 28px;
    color: #111
}

.basic_table {
    border-top: 1px solid #383e5c;
    border-bottom: 1px solid #383e5c;
    width: 100%
}

.basic_table th {
    background: #f7f7f7;
    text-align: left;
    color: #353535;
    border-bottom: 1px solid #d0d0d0;
    line-height: 18px;
    border-right: 1px solid #d0d0d0
}

.basic_table td {
    color: #707070;
    border-bottom: 1px solid #d0d0d0;
    line-height: 1.5
}

.basic_table td,
.basic_table th {
    padding: 20px 30px 20px 25px;
    font-size: 14px
}

.basic_table th.col_tit {
    text-align: center;
    color: #707070;
    border-left: 1px solid #d0d0d0;
    background: #fff
}

.basic_table.pd_sm td,
.basic_table.pd_sm th {
    padding: 15px 30px
}

.basic_table.type2 th {
    padding: 12px 30px;
    text-align: center;
    line-height: 24px;
    color: #111;
    border-left: 1px solid #d0d0d0
}

.basic_table.type2 tr th:first-child {
    border-left: none
}

.basic_table.type2 .black {
    color: #111 !important
}

.basic_table.type2 tbody tr td {
    padding: 15px 30px;
    text-align: left;
    font-size: 13px;
    line-height: 22px;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0
}

.basic_table.type2 tbody tr td:first-child,
.basic_table.type2 tbody tr th:first-child {
    border-left: none
}

.table_type_col1 {
    width: 100%;
    table-layout: fixed
}

.table_type_col1 td,
.table_type_col1 th {
    padding: 20px 5px 18px;
    border-bottom: 1px solid #d0d0d0;
    text-align: center
}

.table_type_col1 tbody td {
    background: #fff
}

.table_type_2 {
    border-top: 1px solid #111;
    width: 100%
}

.table_type_2 tr td,
.table_type_2 tr th {
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #e8e8e8
}

.table_type_2 tr td:first-child,
.table_type_2 tr th:first-child {
    border-left: none
}

.table_type_2 tr td:last-child,
.table_type_2 tr th:last-child {
    border-right: none
}

.table_type_2 tr td {
    text-align: center
}

.table_type_2.pd td,
.table_type_2.pd th {
    padding: 17px 20px 15px;
    line-height: 1.4
}

[class^=i_] {
    display: inline-block;
    text-indent: -9999px;
    vertical-align: top
}

[class*=i_ct_] {
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto
}

.myp_contents_wrap {
    float: right;
    width: 890px
}

body {
        height: 100vh;
        width: 100vw;
        background-image: url('img/back.jpg');
        background-repeat : no-repeat;
        background-size : cover;
      }