<div class="myp_contents_wrap py-6">
    <h4 class="cont_tit">아이정보 관리</h4>
    <div class="myp_cont con_mem_info_admin">
        <!-- ngRepeat: item in childrenInfo -->
        <div  class="sub_cont ng-scope">
            <div class="sub_tit_wrap">
                <h5 class="tit__sub ng-binding">아이정보 1</h5>
                <div class="btn_area lv2">
                    <button ng-click="deleteKid(item.kidsNo)" type="button" class="btn_tx_g ic_r">삭제</button>
                </div>
            </div>

            <table class="basic_table pd_sm">
                <colgroup>
                    <col style="width:170px;">
                    <col style="width:auto;">
                </colgroup>
                <form  method="post" action="/childinfo">
                <tbody>
                <tr>
                    <th>이름</th>
                    <td>
                            <span class="it_basic">
                                <input type="text" id="kidNm0" name="name" value="" placeholder="한글, 영문 2~12자" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            </span>
                    </td>
                </tr>
                <tr>
                    <th class="black">생년월일</th>
                    <td>
                        <ul class="form_box">
                            <li>
                                <div class="input_to_birth">
                                        <span class="it_basic" style="width:250px">
                                            <!-- 20200219 사이즈 고정 -->
                                            <input type="text" id="year0" placeholder="년(4자리)" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        </span>
                                    <div class="ps_designSelBox" style="width:190px">
                                        <!-- 20200219 사이즈 고정 -->
                                        <span class="it_basic" style="width:250px">
                                                <!-- 20200219 사이즈 고정 -->
                                                <input type="text" id="year2" placeholder="월(2자리)" maxlength="2" ng-model="item.year" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                            </span>

                                    </div>
                                    <span class="it_basic" style="width:190px">
                                            <!-- 20200219 사이즈 고정 -->
                                            <input type="text" id="day0" placeholder="일(2자리)" ng-model="item.day" maxlength="2" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-maxlength">
                                        </span>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>
                        <ul class="form_box">
                            <li>
                                    <span class="radio_type_box">
                                        <input type="radio" class="r0" id="r0" name="gender0" ng-checked="item.sex == &#39;0&#39;?true:false" value="0" checked="checked">
                                        <label for="r0" class="lg">남자</label>
                                    </span>
                                <span class="radio_type_box">
                                        <input type="radio" class="r0" id="r0_2" name="gender0" ng-checked="item.sex == &#39;1&#39;?true:false" value="1">
                                        <label for="r0_2" class="lg">여자</label>
                                    </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn_area lv1 mt40">
            <button ng-click="addKidForm()" type="button" class="btn_tx_w" style="width:220px;">아이정보 추가</button>
            <button type="submit" class="btn_tx_b" style="width:220px;">저장</button>
        </div>

       </form>
    </div>