<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="js/login.js"></script>

</head>
<body>
<div class="row" th:fragment="childinfoFragment">
<!--    <h4 class="cont_tit">아이정보 관리</h4>-->
<!--    <tr th:each="child : ${childinfo}">-->
<!--        <td class="p-price first-row" th:text="${child.name}"></td>-->
<!--    </tr>-->

    <div class="myp_cont con_mem_info_admin">
        <!-- ngRepeat: item in childrenInfo -->
        <div  class="sub_cont ng-scope">
            <div class="sub_tit_wrap">
                <h5 class="tit__sub ng-binding">아이정보 2</h5>
            </div>

            <table class="basic_table pd_sm">
                <colgroup>
                    <col style="width:170px;">
                    <col style="width:auto;">
                </colgroup>
                <form  method="post" action="/childinfo">
                <tbody th:each="child : ${childinfo}">
                <div class="container px-4 px-lg-5 mt-5">
                <tr>
                    <th>이름</th>
                    <td>
                            <span class="it_basic">
                                <input type="text" id="kidNm0" name="name" th:value="${child.name}" placeholder="한글, 영문 2~12자" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            </span>
                    </td>
                </tr>
                <tr>
                    <th class="black">생년월일</th>
                    <td>
                        <ul class="form_box">
                            <li>
                                <div class="input_to_birth">
                                        <span class="it_basic" style="width:250px">
                                            <!-- 20200219 사이즈 고정 -->
                                            <input type="text" id="year0" placeholder="생년월일"  th:value="${child.birth}" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        </span>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>
                        <ul class="form_box">
                            <li>
                                <input type="text" id="sex" placeholder="성별"  th:value="${child.birth}" name="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            </li>
                        </ul>
                    </td>
                </tr>
                </div>
                </tbody>
            </table>
        </div>
        <div class="btn_area lv1 mt40">
            <button ng-click="addKidForm()" type="button" class="btn_tx_w" style="width:220px;">아이정보 추가</button>
            <button type="submit" class="btn_tx_b" style="width:220px;">저장</button>
        </div>

       </form>
    </div>
</div>
</body>