<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> I Link Care 우리아이 돌봄 서비스</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="css/join.css" rel="stylesheet" />
    <script type="text/javascript" src="js/login.js"></script>

</head>
<body>
<!--<div id="modal2" class="modal">-->
<!--    <div class="modal_content" title="클릭하면 창이 닫힙니다.">-->
<!--       <a class="modal-close"><img src="img/x-circle-fill.svg" width="50px"><a/>-->
<!--        <th:block th:replace="~{/review :: setReview(~{this::review} )}"></th:block>-->
<!--    </div>-->
<!--</div>-->

<!-- Navigation-->
<div th:insert="~{/header :: headerFragment}"></div>

<section class="py-6">

    <div class="nav-mitem">
        <div class="container">
            <div class="nav-depart">
                <nav class="nav-menu">
                    <ul>
                        <li class="active"><a href="javascript:void(0);" onclick="orderlist()">교육신청내역</a></li>
                        <li><a href="javascript:void(0);" onclick="reviewlist()">리뷰관리</a></li>
                        <li><a href="javascript:void(0);" onclick="baby()">아이정보관리</a></li>
                        <li><a href="javascript:void(0);" onclick="memberupdate()">개인정보관리</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</section>
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart" style="height : 610px;">
    <div class="container">
        <div th:insert="~{/orderlist :: orderFragment}"></div>
        <div th:insert="~{/childinfo :: childinfoFragment}"></div>
        <div th:insert="~{/memberupdate :: memberupdateFragment}"></div>
    </div>

</section>


<!-- Footer-->
<footer class="py-2 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

</body>

</html>
<script>

<!--    아이정보관리-->
    function baby() {
        $.ajax({
            url : "childinfo",
            success : function(result) {
                console.log("성공");
                console.log(result);
                $(".shopping-cart .container").empty();
                $(".shopping-cart .container").html(result);
            },
            error:function(request,status,error){
                console.log("실패");
                console.log(request);
            }
        });

    }
<!--    교육신청내역-->
     function orderlist() {
        $.ajax({
            url : "orderlist",
            success : function(result) {
                console.log("성공");
                console.log(result);
                $(".shopping-cart .container").empty();
                $(".shopping-cart .container").html(result);
            },
            error:function(request,status,error){
                console.log("실패");
                console.log(request);
            }
        });

    }
<!--    개인정보관리-->
         function memberupdate() {
        $.ajax({
            url : "member/update",
            success : function(result) {
                console.log("성공");
                console.log(result);
                $(".shopping-cart .container").empty();
                $(".shopping-cart .container").html(result);
            },
            error:function(request,status,error){
                console.log("실패");
                console.log(request);
            }
        });

    }

    <!--    리뷰-->
     function reviewlist() {
        $.ajax({
            url : "reviewlist",
            success : function(result) {
                console.log("성공");
                console.log(result);
                $(".shopping-cart .container").empty();
                $(".shopping-cart .childinfo_container").empty();
                $(".shopping-cart .container").html(result);
            },
            error:function(request,status,error){
                console.log("실패");
                console.log(request);
            }
        });

    }


    $(document).ready(function() {
        orderlist();
    });
    </script>