<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<th:block th:fragment="setReview(review)">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" style="font-size:2em" >리뷰작성하기</a>
        </div>
    </nav>
    <!-- 프로필설명-->
    <section class="py-7">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-bottom mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">ㅇㅇㅇㅇ8</div>
                    <h1 class="display-5 fw-bolder">ㅇㅇㅇㅇ</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">ㅇㅇㅇ</span>
                        <span>ㅇㅇㅇ</span>
                    </div>
                    <p class="lead">설명.........................................................</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 리뷰작성-->
    <section class="py-2">
        <div class="container px-4 px-lg-5 my-5">
    <form class="mb-3" name="myform" id="myform" method="post">
        <fieldset>
            <span class="text-bold">별점을 선택해주세요</span>
            <input type="radio" name="reviewStar" value="5" id="rate1"><label
                for="rate1">★</label>
            <input type="radio" name="reviewStar" value="4" id="rate2"><label
                for="rate2">★</label>
            <input type="radio" name="reviewStar" value="3" id="rate3"><label
                for="rate3">★</label>
            <input type="radio" name="reviewStar" value="2" id="rate4"><label
                for="rate4">★</label>
            <input type="radio" name="reviewStar" value="1" id="rate5"><label
                for="rate5">★</label>
        </fieldset>
        <div>
		<textarea class="col-auto form-control" type="text" id="reviewContents"
                  placeholder="좋은 리뷰를 남겨주시면 큰 힘이 됩니다!"></textarea>
        </div>
        <p align="right">
        <button class="btn btn-outline-dark flex-shrink-0 my-2" type="button">
            <i class="me-0"></i>리뷰등록
        </button>
        </p>
    </form>
        </div>
    </section>
    </body>
</th:block>
</html>
