<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> I Link Care 우리아이 돌봄 서비스</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/test.js"></script>

    <tr th:each="child : ${childList}">
        <td th:text="${child.name}"></td>
    </tr>
</head>
<body>

    <div class="mapCon2  wow slideInUp">
        <div class="mCont_scroll">
            <table class="tblMemSearch">
                <caption>회원사 검색 리스트</caption>
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:30%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                </colgroup>
                <thead>
                <tr>
                    <th>순번</th>
                    <th>시도</th>
                    <th>시구군</th>
                    <th>업체명</th>
                    <th>성명</th>
                    <th>전화번호</th>
                </tr>
                </thead>
                <tbody class="listData">
                <c:set var="ii" value="${resultCnt - (searchVO.pageIndex -1) * paginationInfo.recordCountPerPage }" />
                <c:forEach var="result" items="${resultList}" varStatus="sts">
                    <tr class="memList">
                        <td class="t_c"><c:out value="${ii}" /></td>
                        <td class="t_c"><c:out value="${result.me_sido}" /></td>
                        <td><c:out value="${result.me_gugun}" /><button type="button" class="btnInfo fr"></button></td>
                        <td class="t_c"><c:out value="${result.me_biz_name}" /></td>
                        <td class="t_c"><c:out value="${result.me_name}" /></td>
                        <td class="t_c"><c:out value="${result.me_biz_tel}" /></td>
                    </tr>
                    <c:set var="ii" value="${ii - 1}" />
                </c:forEach>
                <c:if test="${fn:length(resultList) == 0">
                    <tr>
                        <td colspan="6"  class="first last">조회 결과가 없습니다.</td>
                    </tr>
                </c:if>
                </tbody>
            </table>
        </div>


        <div class="board-list-paging fr">
            <c:set var="pageIndex" value="1"/>
            <ol class="pagination" id="pagination">
                <c:if test="${searchVO.prev}">
                    <li class="prev_end">
                        <a href="javascript:void(0);" onclick="fn_go_page(1); return false;" ></a>
                    </li>
                    <li class="prev">
                        <a href="javascript:void(0);"  onclick="fn_go_page(${searchVO.startDate - 1}); return false;" ></a>
                    </li>
                </c:if>
                <c:forEach var="num" begin="${searchVO.startDate}" end="${searchVO.endDate}">
                    <li>
                        <a href="javascript:void(0);" onclick="fn_go_page(${num}); return false;" class="num ${pageIndex eq num ? 'on':'' }" title="${num}">${num}</a>
                    </li>
                </c:forEach>
                <c:if test="${searchVO.next}">
                    <li class="next">
                        <a href="javascript:void(0);"  onclick="fn_go_page(${searchVO.endDate + 1}); return false;" ></a>
                    </li>
                    <li class="next_end">
                        <a href="javascript:void(0);" onclick="fn_go_page(${searchVO.realEnd }); return false;"></a>
                    </li>
                </c:if>
            </ol>
        </div>

    </div>

</div>


</body>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


</html>
